<div class="row">
  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">
      <!-- Loading individual -->
      <div *ngIf="loadingStates[gif.id]" class="spinner-border text-primary m-auto"></div>
      
      <img
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
        (load)="onImageLoad(gif.id)"
        [style.display]="loadingStates[gif.id] ? 'none' : 'block'"
      >
    </div>
  </div>
</div>